<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Browser" value="chrome" />
    <Parameter name="Environment" value="QA" />
	<Parameter name="BaseUrl" value="https://www.saucedemo.com/" />
    <Parameter name="Headless" value="false" />
	  <Parameter name="DownloadPath" value = ".\Downloads"/>
	  <Parameter name="UploadPath" value=".\Uploads" />
  </TestRunParameters>
</RunSettings>